.face-background {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none;
}

.hour-line {
    width: 64%;
    left: 18%;
    height: 0.5%;
    top: 50%;
    position: absolute;
    z-index: 2;
}

.hour-tick {
    width: 7%;
    height: 100%;
    background-color: black;
}

.minute-line {
    width: 64%;
    left: 18%;
    height: 0.5%;
    top: 50%;
    position: absolute;
    z-index: 2;
}

.minute-tick {
    width: 3%;
    height: 100%;
    background-color: black;
}
